
<div @onclick="SendEvent" class="mt-1.5 flex items-center rounded-lg bg-white p-3 shadow-sm dark:bg-zinc-900">

    @if (Model?.Picture == null || Model.Picture.Length <= 0)
    {
        <div class="relative inline-flex h-10 w-10 items-center justify-center overflow-hidden rounded-full bg-gray-100 dark:bg-zinc-800">
            <span class="font-medium text-gray-600 dark:text-gray-300">@Global.Utilities.Strings.GetInitials(Model?.Name ?? "")</span>
        </div>
    }
    else
    {
        <img class="h-10 w-10 rounded-full p-1 ring-2 ring-gray-300 dark:ring-gray-500" src="@Model.Picture" alt="Avatar">
    }
  
    <div class="ml-2 flex flex-col">
        <label class="text-sm font-bold text-zinc-700 dark:text-zinc-300">@(Model?.Name ?? "Sin nombre")</label>
        <label class="-mt-1 text-xs text-zinc-600 dark:text-zinc-400">@(Model?.Type.ToString() ?? "Sin tipo")</label>
    </div>

</div>