

<div @onclick="SendEvent" class="mt-2 flex items-center justify-between rounded-lg bg-white p-3 shadow-sm dark:bg-zinc-900">

    <div class="flex items-center justify-between">
        <div class="bg-ring-100 h-10 w-10 rounded-lg p-2 ring-1 ring-zinc-300 dark:ring-zinc-600">
            <img class="h-full w-full" src="@GetImage()" />
        </div>

        <div class="ml-2 flex flex-col">
            <label class="text-sm font-bold text-zinc-700 dark:text-zinc-300">@(Model?.Name ?? "Sin nombre")</label>
            <label class="-mt-1 text-xs text-zinc-600 dark:text-zinc-400">@(Model?.Category.ToString() ?? "Sin categoría")</label>
        </div>
    </div>

    @{
        var classes = GetClass();
    }

    <div>

        <div class="mx-auto max-w-xs">
            <div class="relative flex items-center">
                <button @onclick="Decrement" type="button" id="decrement-button" data-input-counter-decrement="counter-input" class="inline-flex h-5 w-5 flex-shrink-0 items-center justify-center rounded-md border border-gray-300 bg-gray-100 hover:bg-gray-200 focus:outline-none focus:ring-2 focus:ring-gray-100 dark:border-zinc-600 dark:bg-zinc-700 dark:hover:bg-zinc-600 dark:focus:ring-gray-700">
                    <svg class="h-2.5 w-2.5 text-gray-900 dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 18 2">
                        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M1 1h16" />
                    </svg>
                </button>
                <input @bind="Cantidad" min="0" type="number" id="counter-input" data-input-counter class="max-w-[2.5rem] flex-shrink-0 justify-center border-0 bg-transparent text-center text-sm font-normal text-gray-900 focus:outline-none focus:ring-0 dark:text-white" placeholder="" required />
                <button @onclick="Increment" type="button" id="increment-button" data-input-counter-increment="counter-input" class="inline-flex h-5 w-5 flex-shrink-0 items-center justify-center rounded-md border border-gray-300 bg-gray-100 hover:bg-gray-200 focus:outline-none focus:ring-2 focus:ring-gray-100 dark:border-zinc-600 dark:bg-zinc-700 dark:hover:bg-zinc-600 dark:focus:ring-gray-700">
                    <svg class="h-2.5 w-2.5 text-gray-900 dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 18 18">
                        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 1v16M1 9h16" />
                    </svg>
                </button>
            </div>

            @if (!IsInflow && ((Model?.DetailModel?.Quantity ?? 0) - Cantidad ) < 0)
            {
                  <div class="mt-0.5 flex w-full items-center justify-center rounded-lg bg-red-500">
                <label class="text-xs text-white">Sin Stock</label>
            </div>
            }
          

        </div>

    </div>
</div>